name: Build and Deploy

on:
    push:
     # tags:
        #- '*'

jobs:
  ghcr-build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      REGISTRY: ghcr.io

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build and run test cases
        run: | 
            mvn clean install -DskipTests
            cd service
            mvn clean install

      - name: Package build artifact (Play dist)
        run: mvn -f service/pom.xml play2:dist

      - name: Upload artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: lms-service-dist
          path: |
            service/target/lms-service-*-dist.zip

      - name: Extract image tag details
        id: image_vars
        run: |
          REPO_LOWER=$(echo "${GITHUB_REPOSITORY}" | tr '[:upper:]' '[:lower:]')
          SHORT_SHA=$(git rev-parse --short HEAD)
          TAG_LOWER=$(echo "${GITHUB_REF_NAME}" | tr '[:upper:]' '[:lower:]')
          IMAGE_NAME=${{ env.REGISTRY }}/${REPO_LOWER}
          IMAGE_TAG=${TAG_LOWER}_${SHORT_SHA}
          echo "IMAGE_NAME=${IMAGE_NAME}" >> $GITHUB_ENV
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image to GHCR
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
